# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Makefile
/Makefile.in
/configure
/libtool
/compile
/config.status
/stamp-h1
/config.h.in
/missing
/ltmain.sh
/depcomp
/config.sub
/config.guess
/aclocal.m4
/config.h
/install-sh
/config.log
/src/.libs/
/src/.deps/
/res/nomad.desktop
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/libtool.m4
/m4/ltsugar.m4
/autom4te.cache/
/res/Makefile
/res/Makefile.in
/src/Makefile.in
/src/Makefile
/src/nomad
/src/resources.c
/nbproject/
/nomad-program-0.1/
/test.png
/res/basn0g08.png
/res/basn0g02.png
/res/basn0g04.png
/res/basn0g01.png
